<!doctype html>
<html>
<head>
    <meta charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1.0'>
</head>
<link rel="stylesheet" href="/public/stylesheets/style.css">
<header>
    <h1> Your Crypto Guide </h1>
</header>
</html>
