<!doctype html>
<html>
<header> <button  class='logout-button'>Logout</button></header>
<div class="container">
<div class="chat-area">
    <div class="message-area"></div>
</div>
<div class="input-area">
    <input type="text" name="msg" placeholder="Type Here">
    <button class="send"> Send </button>
</div>
</div>
</html>