<!doctype html>
<html>
<form action='/register' method="post">
    <div class="container">
        <h2>Register</h2>
        <label for="email"><b>Enter Email</b></label>
        <input type="text"  name="email" required>

        <label for="psw"><b>Enter Password</b></label>
        <input type="password"  name="psw" required>

        <label for="psw"><b>Confirm Password</b></label>
        <input type="password"  name="psw1" required>
            {{wrong}}
        <button class="registerbtn" type="submit"> Confirm information</button>
    </div>
</form>
</html>
